<p>
[filename.jpg]<br>
[mm.yy]<br>
<a href="[section]/[yyyy-mm_slug].html" onclick="window.open(this.href,'_blank','width=900,height=700'); return false;"><img src="[section]/img/[yyyy-mm_slug]_thumb.jpg" width="250" height="100" alt=""></a>
</p>
<p>
[filename.jpg]<br>
[mm.yy]<br>
<img src="[section]/img/[yyyy-mm_slug]_thumb.jpg" width="250" height="100" alt=""><br>
full unavailable.
</p>
<p>
[filename.mp3]<br>
[mm.yy]<br>
<audio controls src="music/audio/[yyyy-mm_slug].mp3"></audio><br>
<a href="music/audio/[yyyy-mm_slug].mp3" download>download</a>
</p>
<p>
[filename.mp3]<br>
[mm.yy]<br>
full unavailable.
</p>
<p>
<a href="[section]/[yyyy-mm_slug].html">[title]</a><br>
[mm.yy]
</p>
[yyyy]–[yyyy] — [description]<br>
